body{
    background-image: url(../img/hojas.jpg);
    background-attachment: fixed;
}
#logo{
    background: #235e3d;
}
#menu ul li a:hover{
    background: #235e3d;
}
.button-more{
    background: #235e3d;
}
#accordion h3{
    background-color: #235e3d;
}